<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" />
	<link rel="shortcut icon" href="./favicon.ico" />
</head>

<body>
	<div class="container">
			<div class="container__content">
				<header class="header">
					<div class="header__logo">
						<img src="../images/logo.png" alt="логотип АликсМед" class="logo">
					</div>
					<div class="header__contacts">
						<div class="header__addr">119113, г. Москва, Ленинский проспект , дом 91, кв. 88</div>
						<div class="header__tel"><a href="tel:84993943067">+7 (499) 394-30-67</a></div>
						<div class="header__mail"><a href="mailto:ooo.aliksmed@gmail.com">ooo.aliksmed@gmail.com</a></div>
					</div>
				</header>
				<p>Основным направлением и видом деятельности компании «АликсМед» является поставка широкого спектра зарубежного и отечественного медицинского  оборудования, техники и расходных материалов. </p>
				<p>Вся предлагаемая продукция имеет все необходимые документы <br />и сертификаты. Для торговых компаний и региональных представителей действует система скидок.</p>
				<p>Наша цель — предложить медицинским учреждениям, ЛПУ <br />и частным организациями лучшее оборудование по низким ценам.</p>
				<div class="btn-wrapp">
					<a href="#form" class="btn">связаться с нами</a>
				</div>
			</div>
			<div class="container__bottom"></div>

	</div>
</body>

</html>
